body {
 background-image: url("paper.gif");
 background-color: #cccccc;
}

p {
  color: #66CDAA;
  text-align: justify;
}

h1 {
  color: #008080;
  text-shadow: 3px 3px 4px #9ACD32;
  }

tr:hover { background-color: #E0E0FF; }

img {
	  height: 25%;
	  width: 25%;
  }

table{
  width:100%;
	border: 1px solid #20B2AA;
}

td {
	border: 1px solid #20B2AA;
    padding: 5px;
  }


a{
  padding: 10px;
  color:#40710b;
  font-weight: bold;
  font-size: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=date] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
